body
{
  background-color: #eceff0;
}
body,
input
{
  font: 1em "Open Sans", san-serif;
  color: #363639;
}
a
{
  text-decoration: none;
  border-bottom: 1px dashed #363639;
}

/* ==== LIST ==== */
.list
{
  background-color: #fff;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
  box-sizing: border-box;
}
.list .header
{
font-family: "Pacifico", cursive;
margin: 0 0 10px 0;
}

/* ==== ITEMS ==== */
.items
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.items li:hover .done-button
{
  opacity: 1;
}
.items .item.done
{
  text-decoration: line-through;
}
.items li,
.item-add .input
{
  border: 0;
  border-bottom: 1px dashed #ccc;
  padding: 15px 0;
}
.input
{
  width: 100%;
}
.input:focus
{
  outline: none;
}

/* ==== ITEMS DONE BUTTON ==== */
.done-button
{
  display: inline-block;
  font-size: 0.8em;
  background-color: #d9dfe1;
  color: #363639;
  padding: 3px 6px;
  border: 0;
  opacity: 0.4;
}

/* ==== SUBMIT BUTTON ==== */
.submit
{
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 10px;
  box-shadow: 3px 3px 0 #ddd;
}
